# Config for wg-portal (https://github.com/h44z/wg-portal)
# Replace dc=example,dc=com with your base DN 

# Connection to LLDAP
# Remember that wg-portal requires host networking when ran in docker, so you cannot use docker networks to manage this
LDAP_URL: ldap://localhost:3890

LDAP_BASEDN: "dc=example,dc=com"
LDAP_USER: "uid=admin,ou=people,dc=example,dc=com"
LDAP_PASSWORD: "CHANGEME"

LDAP_LOGIN_FILTER: "(&(objectClass=person)(|(mail={{login_identifier}})(uid={{login_identifier}})))"
LDAP_SYNC_FILTER: "(&(objectClass=person)(mail=*))"
LDAP_ADMIN_GROUP: "uid=everyone,ou=groups,dc=example,dc=com"
LDAP_ATTR_EMAIL: "mail"
LDAP_STARTTLS: "false"
